<ion-view title="Create Event">
    <ion-nav-buttons side="left">
        <a class="button" href="#/events">Cancel</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button" href="#/events">Done</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-divider bar">
                <span class="title">Event Details</span>
            </div>
            <label class="item item-input">
                <span class="input-label">Event Name</span>
                <input type="text" ng-model="eventForm.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" ng-model="eventForm.date">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" ng-model="eventForm.location">
            </label>
            <label class="item item-input">
                <span class="input-label">Budget</span>
                <input type="number" min="0" ng-model="eventForm.budget">
            </label>
        </div>
        <div class="card">
            <div class="item item-divider bar">
                <span class="title">Tasks</span>
                <button class="button" ng-click="showTaskPopup()">Add Task</button>
            </div>
            <ion-list can-swipe="true">
                <ion-item ng-repeat="task in tasks">
                    <span>{{task.name}}</span>
                    <span style="float:right; color: #b0b0b0;">{{task.numPeople}}</span>
                     <ion-option-button class="button-assertive" ng-click="deleteTask($index)">Delete</ion-option-button>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>
