<ion-view title="{{name}}">
    <ion-nav-buttons side="left">
        <a class="button button-clear icon-left ion-ios7-arrow-left" href="#/event-list"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div class="event-key-details" style="background-image:url({{imgSrc}})">
            <div class="overlay">
                <h2>{{name}}</h2>
                <h3>{{date}}</h3>
                <h3>{{location}}</h3>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <span class="thin-header">Description</span>
                <i ng-if="isAdmin === true" ng-class="{'ion-checkmark': descEdit, 'ion-edit': !descEdit}" class="event-edit-btn" ng-click="editDesc(editForm.description)"></i>
                <p ng-if="descEdit !== true">{{description}}</p>
                <div class="border-wrapper" ng-if="descEdit" >
                    <textarea ng-model="editForm.description" class="item-textarea" rows="5">{{editForm.description}}</textarea>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <span class="thin-header">Budget</span>
                <i ng-if="isAdmin === true" ng-class="{'ion-checkmark' : budgetEdit, 'ion-edit': !budgetEdit}" class="event-edit-btn"  ng-click="editBudget(editForm.budget)"></i>
                <p ng-if="budgetEdit !== true">${{budget}}</p>
                <label ng-if="budgetEdit" class="item item-input budget-edit-box">
                    <input ng-model="editForm.budget" type="number" >
                </label>
            </div>
        </div>
        <div ng-if="isAdmin === true" class="card">
            <div class="item item-divider bar">
                <div class="title">Finances</div>
                <button class="button" ng-click="showExpensePopup()">Add Expense</button>
            </div>
            <ion-list can-swipe="true">
                <ion-item ng-repeat="expense in expenses">
                    <span>{{expense.name}}</span>
                    <span style="float:right; color: #b0b0b0;">${{expense.amount}}</span>
                     <ion-option-button class="button-assertive" ng-click="deleteExpense($index)">Delete</ion-option-button>
                </ion-item>
            </ion-list>

        </div>
        <div ng-if="isAdmin === true" class="card">
            <div class="item item-divider bar">
                <span class="title">Tasks</span>
                <a href="#/event/add-task" class="button">Add Task</a>
            </div>
                <ion-list can-swipe="true">
                <ion-item ng-click="selectTask($index)" ng-repeat="task in tasks">
                    <span>{{task.name}}</span>
                    <span style="float:right; color: #b0b0b0;">{{task.totalNumAssignees}}/{{task.totalNumPeople}}</span>
                     <ion-option-button class="button-assertive" ng-click="deleteTask($index)">Delete</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
        <br>
    </ion-content>
</ion-view>
