<ion-view title="{{name}}">
    <ion-nav-buttons side="left">
        <a class="button button-clear icon-left ion-ios7-arrow-left" href="#/event-list"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="refresh()"></ion-refresher>
        <div class="event-key-details" style="background-image:url({{imgSrc}})">
            <div class="overlay">
                <h2>{{name}}</h2>
                <h3>{{date}}</h3>
                <h3 class="btm-text">{{location}}</h3>
                <div ng-if="showButtons === true">
                    <button ng-show="isLoggedIn && isGoing === undefined" class="button button-outline event-outline-btn" ng-click="updateUserAttendance(true)">Going</button>
                    <button ng-show="isLoggedIn && isGoing === undefined" class="button button-outline event-outline-btn" ng-click="updateUserAttendance(false)">Not Going</button>
                    <button ng-show="isLoggedIn && isGoing !== undefined" class="button button-outline event-outline-btn attendance-menu-btn icon-right ion-navicon" ng-click="openAttendanceMenu()">{{attendanceState}}<i class="button-separator"></i></button>
                </div>
            </div>
        </div>
        <div class="card" ng-show="goingArr.length > 0" ng-click="showAttendanceListPopup()">
            <div class="item">
                <div class="event-attendee-pics">
                    <img ng-repeat="goingUser in goingArr | limitTo: 6" ng-src="http://graph.facebook.com/{{goingUser.fb_id}}/picture?height=40&width=40" width="40"  height="40" />
                </div>
                <span>{{goingArr.length}}</span>
                <span ng-show="goingArr.length == 1">person is going</span>
                <span ng-show="goingArr.length > 1">people are going</span>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <span class="thin-header">Description</span>
                <i ng-if="isAdmin === true" ng-class="{'ion-checkmark': descEdit, 'ion-edit': !descEdit}" class="event-edit-btn" ng-click="editDesc(editForm.description)"></i>
                <p ng-if="descEdit !== true">{{description}}</p>
                <div class="border-wrapper" ng-if="descEdit" >
                    <textarea ng-model="editForm.description" class="item-textarea" rows="5">{{editForm.description}}</textarea>
                </div>
            </div>
        </div>
        <div ng-if="isAdmin === true" class="card">
            <div class="item">
                <span class="thin-header">Budget</span>
                <i ng-if="isAdmin === true" ng-class="{'ion-checkmark' : budgetEdit, 'ion-edit': !budgetEdit}" class="event-edit-btn"  ng-click="editBudget(editForm.budget)"></i>
                <p ng-if="budgetEdit !== true">${{budget}}</p>
                <label ng-if="budgetEdit" class="item item-input budget-edit-box">
                    <input ng-model="editForm.budget" type="number" >
                </label>
            </div>
        </div>
        <div ng-if="isAdmin === true" class="card">
            <div class="item item-divider bar">
                <div class="title">Finances</div>
                <!-- <button class="button" ng-click="showExpensePopup()">Add Expense</button> -->
                <i ng-click="openFinanceMenu()" class="button button-clear icon-right ion-navicon"></i>
            </div>
            <ion-list can-swipe="true">
                <ion-item ng-repeat="expense in expenses">
                    <span>{{expense.name}}</span>
                    <span style="float:right; color: #b0b0b0;">${{expense.amount}}</span>
                     <ion-option-button class="button-assertive" ng-click="deleteExpense($index)">Delete</ion-option-button>
                </ion-item>
            </ion-list>

        </div>
        <div ng-if="isAdmin === true" class="card">
            <div class="item item-divider bar">
                <span class="title">Tasks</span>
                <i ng-click="openTaskMenu()" class="button button-clear icon-right ion-navicon"></i>
                <!-- <a href="#/event/add-task" class="button">Add Task</a> -->
            </div>
                <ion-list can-swipe="true">
                <ion-item ng-click="selectTask($index)" ng-repeat="task in tasks">
                    <span>{{task.name}}</span>
                    <span style="float:right; color: #b0b0b0;">{{task.totalNumAssignees}}/{{task.totalNumPeople}}</span>
                     <ion-option-button class="button-assertive" ng-click="deleteTask($index)">Delete</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
        <br>
    </ion-content>
</ion-view>
