<ion-view title="{{name}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon-left ion-ios7-arrow-left" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content>
    <ion-refresher on-refresh="refresh()"></ion-refresher>
        <ul ng-if="dateTaskObjArr.length > 0" class="list task-timeslot-list">
            <li class="item item-divider" ng-repeat-start="dateTaskObj in dateTaskObjArr">{{dateTaskObj.formattedDate}}</li>
            <li class="item" ng-repeat="timeSlotObj in dateTaskObj.timeSlotObjArr" ng-click="displaySignUps(timeSlotObj, dateTaskObj.formattedDate)">
                <span class="time">{{timeSlotObj.timeSlot}}:00</span>
                <div class="assignee-region">
                    <img ng-repeat="assignee in timeSlotObj.assigneeArr" ng-src="http://graph.facebook.com/{{assignee.fbId}}/picture?height=25&width=25" width="25"  height="25" /><div class="small-dotted-box" ng-repeat="i in genBoxCollection(timeSlotObj.numPeople, timeSlotObj.numAssignees, 4) track by $index">{{$index + 1 + timeSlotObj.numAssignees}}</div>
                </div><div ng-if="timeSlotObj.numPeople > 4" class="small-gray-box">+{{timeSlotObj.numPeople - 4}}</div>
                <!-- signed up -->
                <button ng-if="timeSlotObj.hasSignedUp" class="button button-small button-light list-item-btn" ng-click="timeSlotCancel(timeSlotObj.timeSlotId, $parent.$parent.$index, $index); $event.stopPropagation()">Cancel</button>
                <!-- not signed up and not full -->
                <button ng-if="!timeSlotObj.hasSignedUp && (timeSlotObj.numPeople - timeSlotObj.numAssignees) !== 0" class="button button-small button-positive list-item-btn" ng-click="timeSlotSignUp(timeSlotObj.timeSlotId, $parent.$parent.$index, $index); $event.stopPropagation()">Sign Up</button>
                <!-- not signed up and full -->
                <button ng-if="!timeSlotObj.hasSignedUp && (timeSlotObj.numPeople - timeSlotObj.numAssignees) === 0" class="button button-small button-dark list-item-btn" disabled>Full</button>
            </li>
            <div ng-repeat-end=""></div>
        </ul>
        <span class="item" ng-if="dateTaskObjArr.length === 0">No timeslots assigned</span>
    </ion-content>
</ion-view>