/* Empty. Add your own CSS if you like */
body{
    font-family: Raleway, HelveticaNeue, sans-serif;
}
.profile-pic{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 50%/50%;
}

.list-item-label{
    width: 120px;
    font-weight: bold;
    display: inline-block;
}

.ajax-loader{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    .ajax-loader i{
        font-size: 40px;
        margin-bottom: 5px;
    }
    .ajax-loader span{
        font-size: 16px;
        display: block;
    }

.red-text{
    color: #ef4836;
}

input[type=date]{
    width:100%;
}

input[type=date].pseudo-placeholder::before{
    width:100%;
    content:attr(placeholder);
    color: #aaa;
}

input[type=date].pseudo-placeholder:hover::before{
    width: 0%;
    content:"";
}

.thin-header{
    font-size: 17px;
}

.invis{
    opacity: 0;
}
.hover-placeholder{
    position: absolute;
    z-index: -1;
    font-size: 13px;
    line-height: 8px;
    height: 8px;
    color: #808080;
    font-weight: 400;
    margin: auto;
    top: 0;
    bottom: 0;
}
.hidden{
    display: none;
}
.event-key-details{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
    .event-key-details .overlay{
        background-color: rgba(40,40,40,0.5);
        width: 100%;
        height: 100%;
        padding: 50px 40px;
    }
    .event-key-details .overlay h2{
        color: #f0f0f0;
        font-family: Raleway, HelveticaNeue, sans-serif;
        font-weight: 100;
        font-size: 36px;
        line-height: 30px;
    }
    .event-key-details .overlay h3{
        font-family: Raleway, HelveticaNeue, sans-serif;
        color: #e0e0e0;
        font-weight: 400;
        font-size: 19px;
        line-height: 10px;
    }
.loading-icon{
    font-size: 40px;
}
.task-calendar{
    margin-top: 20px;
}   
    .task-calendar .cell{
        height: 100px;
        width: 100px;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    .task-calendar .hdr-col{
        width: 50px;
        display: inline-block;
        vertical-align: top;
    }
        .task-calendar .hdr-col .cell{
            width: 50px;
            line-height: 100px;
            text-align: center;
            color: #a0a0a0;
        }
    .task-calendar .col{
        width: 100px;
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin-right: 5px;
    }
        .task-calendar .col .cell{
            border: 1px solid #d0d0d0;
            position: relative;
        }
            .task-calendar .col .cell .cell-val{
                font-family: HelveticaNeue-UltraLight, sans-serif;
                font-weight: 100;
                height: 26px;
                width: 100%;
                font-size: 32px;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                color: #a0a0a0;
            }
            .task-calendar .col .cell .cell-btn{
                font-family: HelveticaNeue-UltraLight, sans-serif;
                font-weight: 100;
                position: absolute;
            }
            .task-calendar .col .cell .plus-btn{
                right: 15px;
                top: 15px;
                font-size: 45px;
                color: #66CC99;
            }
            .task-calendar .col .cell .minus-btn{
                bottom: 25px;
                left: 10px;
                font-size: 100px;
                color: #E26A6A;
            }
    .task-calendar .hdr-row{

    }
        .task-calendar .hdr-row .cell{
            height: 20px;
            display: inline-block;
            margin-right: 5px;
            text-align: center;
            color: #a0a0a0;
        }
        .task-calendar .hdr-row .cell:first-child{
            margin-left: 55px;
        }
.list-item-btn{
    float: right;
    margin-top: -3px;
}

.task-timeslot-list{

}
    .task-timeslot-list .time{
        display: inline-block;
        width: 60px;
    }
    .task-timeslot-list .people{
        display: inline-block;
        width: 100px;
        text-align: right;
        float: right;
        margin-right: 10px;
    }
    .task-timeslot-list .assignee-str{
        color: #909090;
    }

    .task-timeslot-list .list-item-btn{
        width: 60px;
    }
    
.item-textarea{
    font-size: 14px;
    color: #666;
}

.border-wrapper{
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.budget-edit-box{
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.assignee-region{
    display: inline-block;
}
    .assignee-region img{
        border-radius: 5px;
        margin-left: 5px;
        vertical-align: top;
    }

.small-dotted-box{
    vertical-align: top;
    border: 1px dashed #999;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    color: #aaa;
    font-size: 14px;
}
.small-gray-box{
    vertical-align: top;
    width: 25px;
    height: 25px;
    line-height: 23px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    background-color: #666;
    color: #e0e0e0;
    font-size: 14px;
}

.signup-popup{
    max-height: 200px;
    overflow: auto;
}
    .signup-popup div{
        margin-top: 5px;
    }
    .signup-popup img{
        border-radius: 5px;
        vertical-align: top;
    }
    .signup-popup span{
        vertical-align: top;
        line-height: 40px;
        margin-left: 5px;
    }

.dotted-box{
    border: 1px dashed #999;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    line-height: 38px;   
    color: #aaa;
    vertical-align: top;
}

.event-edit-btn{
    float: right;
    cursor: pointer;
    font-size: 26px;
}
